:root{  
    --color-gray-haed: rgba(97, 93, 93, 0.6);
    --color-head: rgb(221, 215, 215);
    --color-black-dark: rgba(0, 0, 0, 0.9);
    --color-black:  #95afc0;
    --color-words: #fff;
    --color-gray-light:#f5f5f5;
    --color-red-light: #d44747;
    --color-blue-light: #7ea9e2;
    --black-dark: #0a0202;
    --dark-ball: rgb(44, 43, 43);
    --dark-li: rgb(32, 32, 32);
    --background-quarto:  #c8d6e5;
    --background-ter: #c8d6e5;
    --input-color: #2a2a2a;
}